<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Normalize -->
        <link rel="stylesheet" href="/css/normalize.css">

    </head>
    <body>

        <div class="site">
          {% include header.html %}

          <div class="container">
            {{ content }}
          </div>

          <div class="footer">
            <div class="contact">
              <p>
                Laura Diane Hamilton<br />
                Web developer and data scientist<br />
                lauradhamilton@gmail.com
              </p>
              
              {% include footer.html %}

            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/lauradhamilton">github.com/lauradhamilton</a><br />
                <a href="https://twitter.com/lauradhamilton">twitter.com/lauradhamilton</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
